* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../pictures/bookstack.png');
    color:white;
    background-position: top right;
    background-size: auto;
    background-repeat: repeat-y;
    background-attachment: scroll;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #bb8ff0;
    margin: 0 0 0 0;
    padding: 1rem 0.9rem 1rem 0.8rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__title {
    color:rgb(85, 85, 85);
    font-style: normal;
    font-family: 'DM sans', sans-serif;
}

.header__actions {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-family: 'DM sans', sans-serif;
    font-size: 18px;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-family: 'DM sans', sans-serif;
    font-size: 19px;
}

.nav__link {
    text-decoration: none;
    color:rgb(85, 85, 85);
    font-weight: bold;
}

.nav__link i { 
    font-size: 15px; 
    margin-right: 6px;
}

.hero {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../pictures/hero-background.png);
    background-repeat: repeat;
    background-size: 120px;
    padding: 1rem 0 2rem 0;
}

.hero__title {
    color: rgb(85, 85, 85);
    margin: 1rem 0 1.2rem 0;
    font-style: italic;
    font-size: 26px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: #ceaef4;
    border-radius: 8px;
}

.contact__title {
    color: rgb(74, 72, 72);
    font-size: 22px;
    font-family: 'DM sans', sans-serif;
    margin-bottom: 22px;
}

.contact__form {
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items: center;
    color:rgb(85, 85, 85);
    font-family: 'DM sans', sans-serif;
    font-weight: bolder;
    width: 100%;
}

.contact__input {
    width: 100%;
    padding: 8px;
    font-size: 13px;
}

.contact__textarea {
    width: 100%;  /* El área de texto ocupa el 100% del ancho del formulario. */
    min-height: 100px;
    padding: 10px;
    font-size: 14px;
    resize: vertical;   /* Esto sirve para poder agrandar manualmente el área de texto hacia abajo. */
    font-family: inherit;   /* Hereda la fuente del elemento padre, es decir, del contact__form */
}

.contact__button {
    padding: 8px;
    border-radius: 7px;
    font-family: 'DM sans', sans-serif;
    background-color: rgb(241, 241, 227);
    color: rgb(85, 85, 85);
    font-weight: bolder;
}

.products {
    padding: 20px 20px;
    width: fit-content;
    margin: 40px auto 0;
    text-align: center;
    background-color:rgb(241, 241, 227);
}

.products__heading {
    color: rgb(85, 85, 85) ;
    font-size: 30px;
    font-family: 'DM sans', sans-serif;
}

.products__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products__item {
    display:flex;
    flex-direction: column;
    background-color: #ceaef4;
    text-align: center;
    min-height: 420px;
    justify-content: space-between;
    width: 250px;
    padding: 10px;
    margin:10px;
    overflow: hidden;
    border-radius: 8px;
    box-sizing: border-box; /* Esto sirve para que el padding no le sume más altura que la definida. */
}

.products__picture{
    width:100%;
    height: 200px;
    object-fit: cover;
}

.products__link {
    text-decoration: none;
}

.products__title {
    color: rgb(74, 72, 72);
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 15px;
}

.products__description {
    color:  rgb(74, 72, 72);
    font-size: 16px;
    margin:0.3rem 0 0 0;
}

.products__price {
    color:  rgb(74, 72, 72);
    font-size: 25px;
    font-weight: bold;
    margin: 0.5rem 0;
}

.products__button {
    padding: 8px;
    border-radius: 7px;
    font-family: 'DM sans', sans-serif;
    background-color: rgb(241, 241, 227);
    color: rgb(85, 85, 85);
    font-weight: bolder;
}

.genres {
    padding: 20px 20px;
    width: fit-content;
    margin: 40px auto 0;
    text-align: center;
    background-color:rgb(241, 241, 227);
}

.genres__heading {
    color: rgb(85, 85, 85) ;
    font-size: 30px;
    font-family: 'DM sans', sans-serif;
}

.genres__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

.genres__item {
    display:flex;
    flex-direction: column;
    background-color: #ceaef4;
    text-align: center;
    min-height: 200px;  /* La caja va a crecer lo que necesite de acuerdo al contenido. */
    width: 250px;
    padding: 10px;
    margin:10px;
    overflow: hidden;
    border-radius: 8px;
}

.genres__picture{
    width:100%;
    height: 200px;
    object-fit: cover;
}

.genres__title {
    color: rgb(74, 72, 72);
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 15px;
}

.genres__link {
    text-decoration: none;
}

.reviews {
    padding: 20px 20px;
    width: fit-content;
    margin: 40px auto 40px;
    text-align: center;
    background-color:rgb(241, 241, 227);
}

.reviews__heading {
    color: rgb(85, 85, 85) ;
    font-size: 30px;
    font-family: 'DM sans', sans-serif;
}

.reviews__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;

}

.reviews__item {
    display:flex;
    flex-direction: column;
    border-style: double;
    border-color: rgb(85, 85, 85);
    text-align: center;
    justify-content: space-between;
    height: 200px;
    width: 250px;
    padding: 12px;
    margin:10px;
    border-radius: 8px;
}

.reviews__text {
    color: rgb(85, 85, 85);
    font-style: italic;
    font-size: 17px;
    font-weight: bolder;
    overflow-y: auto;
    flex: 1;
}

.reviews__signature {
    align-self: flex-end;
    color: rgb(85, 85, 85);
    font-size: 15px;
    font-weight: bolder;
    margin-top: 10px;
    font-family: 'DM sans', sans-serif
}

.all-products {
    width: 100%;
    background-image: url(../pictures/hero-background.png);
    background-repeat: repeat;
    background-size: 120px;
    padding: 40px 0;
    text-align: center;
}

.all-products__heading {
    color: rgb(85, 85, 85) ;
    font-size: 30px;
    font-family: 'DM sans', sans-serif;
}

.all-products__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    justify-content: center;
    align-items: center;
    max-width: 1100px; /* ancho máximo del contenido */
    margin: 0 auto;    /* centra el grid dentro de .all-products */
}

.all-products__item {  /* VER CÓMO HACER PARA QUE LAS CAJAS TENGAN UNA ALTURA DEFINIDA Y NO SE DESBORDE EL CONTENIDO. */
    display:flex;
    flex-direction: column;
    background-color: #ceaef4;
    text-align: center;
    height: 370px;
    justify-content: space-between;
    width: 250px;
    padding: 10px;
    margin:10px;
    overflow: hidden;
    border-radius: 8px;
    box-sizing: border-box; /* Esto sirve para que el padding no le sume más altura que la definida. */
}

.all-products__title {
    color: rgb(74, 72, 72);
    margin-bottom: 0;
    margin-top: 7px;
    font-size: 20px;
}

.all-products__link--title {
    font-size: 10px;
}

.all-products__picture{
    width:100%;
    height: 200px;
    object-fit: cover;
}

.all-products__link {
    text-decoration: none;
}

.all-products__price {
    color:  rgb(74, 72, 72);
    font-size: 22px;
    font-weight: bold;
    margin: 0.5rem 0;
}

.all-products__button {
    padding: 8px;
    border-radius: 7px;
    font-family: 'DM sans', sans-serif;
    background-color: rgb(241, 241, 227);
    color: rgb(85, 85, 85);
    font-weight: bolder;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ceaef4;
    margin: 0 0 0 0;
    padding: 1rem 0.9rem 1rem 0.8rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.footer__list {
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:2px;
    align-items: flex-start;
}

.footer__link {
    text-decoration: none;
    color:rgb(74, 72, 72);
    font-family: 'DM sans', sans-serif;
    font-weight: bolder;
}

.footer__social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap:13px;
    list-style: none;
}

.footer__link i { 
    font-size: 23px;
}

.footer__text {
    margin-top: 17px;
    font-size: 14px;
    color:rgb(74, 72, 72);
    font-family: 'DM sans', sans-serif;
}

.footer__item--network {
    flex-basis: 100%; /* Esto sirve para que @TiendaTBR ocupe el 100% del ancho de la pantalla y el flex-wrap de footer__social empuje los iconos de redes sociales hacia abajo.  */
    text-align: right;
}

.footer__network {
    font-size: 16px;
    font-weight: bolder;
    color:rgb(74, 72, 72);
    font-family: 'DM sans', sans-serif;
}

/* Media Queries */

/* Celulares */
@media (max-width: 600px) {
    .contact {
        max-width: 380px;
        padding: 25px;
        margin: 30px auto;
    }
}

/* Tablets */
@media (min-width: 600px) and (max-width:1024px) {
    .contact {
        max-width: 410px;
        padding: 30px;
        margin: 40px auto;
    }
}

/* Laptops y monitores medianos */
@media (min-width: 1025px) and (max-width: 1440px) {
    .contact {
        max-width: 450px;
        padding: 30px;
        margin: 60px auto;
    }
}

/* Pantallas grandes */
@media (min-width: 1441px) {
    .contact {
        max-width: 500px;
        padding: 40px;
        margin: 80px auto;
    }
}