body {
    background-image: url('bookstack.jpg');
    color:white;
    background-position: top right;
    background-size: auto;
    background-repeat: repeat-y;
    background-attachment: scroll;

}

.header__title {
    color:rgb(85, 85, 85);
    font-style: normal;
    font-family: 'DM sans', sans-serif;
}

.header__subtitle {
    font-style: italic;
    color: rgb(85, 85, 85);
    font-family: 'DM sans', sans-serif;
}

.footer {
    background-color:lightslategrey;
}

.footer__list {
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:2px;
    align-items: flex-start;
}

.footer__link {
    text-decoration: none;
    color:black;
}


.intro-text__text{
    font-size:large;
    font-weight: bold;
    background-color:mediumpurple;
    color:rgb(85, 85, 85);
    text-align: center;
    font-family: 'karla', sans-serif;
}

.comments-table{
    color:black;
}

.contacto {
    margin-top: 60px;
}

.contacto__form {
    display:flex;
    flex-direction:column;
    gap:4px;
    align-items: flex-start;
    color:black;
}

.nav__list {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color:black;
}
