* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bookstack.jpg');
    color:white;
    background-position: top right;
    background-size: auto;
    background-repeat: repeat-y;
    background-attachment: scroll;

}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #bb8ff0;
    margin: 0 0 0 0;
    padding: 1rem 0.9rem 1rem 0.8rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__title {
    color:rgb(85, 85, 85);
    font-style: normal;
    font-family: 'DM sans', sans-serif;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-family: 'DM sans', sans-serif;
    font-size: 18px;
}

.header__actions {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-family: 'DM sans', sans-serif;
    font-size: 18px;
}

.nav__link {
    text-decoration: none;
    color:rgb(85, 85, 85);
    font-weight: bold;
}

.nav__link i { 
    font-size: 15px; 
    margin-right: 6px;
}


.footer {
    background-color:lightslategrey;
}

.footer__list {
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:2px;
    align-items: flex-start;
}

.footer__link {
    text-decoration: none;
    color:black;
}


.contacto {
    margin-top: 60px;
}

.contacto__form {
    display:flex;
    flex-direction:column;
    gap:4px;
    align-items: flex-start;
    color:black;
}

.products { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 400px; 
    background-color: beige; 
} 


.products__item {
    display:flex;
    flex-direction: column;
    background-color: #bb8ff0;
    color: white;
    text-align: center;
    height: 380px;
    width: 250px;
    padding: 10px;
    margin:10px;
    overflow: hidden;
}

.products__picture{
    width:100%;
    height: 200px;
    object-fit: cover;
}

.products__link {
    text-decoration: none;
}

.products__title {
    color: rgb(74, 72, 72);
    font-size: 22px;
    margin-bottom: 0;
}

.products__description {
    color:  rgb(74, 72, 72);
    font-size: 16px;
    margin:0.3rem 0 0 0;
}

.products__price {
    color:  rgb(74, 72, 72);
    font-size: 30px;
    font-weight: bold;
    margin: auto 0 0.5rem 0;

}

.products__button {
    background-color: beige;
}

